.tasks {
  &__input {
    width: 100%;
    margin-bottom: 15px;
  }

  &__btn {
    margin-right: 10px;

    &--add {
      min-width: 145px;
    }

    &--cancel {
      padding: 10px 20px;
    }
  }
}
