.tasks {
  padding: 56px;
  position: relative;

  &__empty {
    position: absolute;
    margin-right: -50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;

    color: #c9d1d3;
  }

  &__title {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #f2f2f2;

    align-items: center;

    &:hover {
      & .tasks__rename {
        display: inline-block;
      }
    }
  }

  &__name {
    margin-right: 15px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;

    color: #64c4ed;
  }

  &__rename {
    display: none;
    width: 15px;
    height: 15px;
    border: none;

    background-color: #dfdfdf;
    mask-image: url("/img/edit.svg");
    mask-size: cover;

    &:hover {
      background-color: darken(#dfdfdf, 10%);
    }

    &:active {
      background-color: #000000;
    }
  }

  &__list {
    margin: 30px 0;
  }

  &__btn-add {
    position: relative;
    width: 100%;
    padding: 10px 12px 10px 35px;
    border: none;

    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.15px;

    background-color: #ffffff;
    color: #b4b4b4;
    text-align: left;

    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 16px;
      height: 16px;
      top: 0;
      left: 2px;
      transform: translateY(50%);
      box-sizing: border-box;

      background-color: #b4b4b4;
      mask-image: url("/img/add.svg");
      mask-size: cover;
    }

    &:hover {
      color: #000000;

      &::before {
        background-color: #000000;
      }
    }
  }
}
