.tasks {
  padding: 56px;

  &__title {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;

    align-items: center;
  }

  &__name {
    margin-right: 15px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;

    color: #64c4ed;

    &:hover {
      & + .tasks__rename {
        display: inline-block;
      }
    }
  }

  &__rename {
    display: none;
    width: 15px;
    height: 15px;
    border: none;

    background-color: #dfdfdf;
    mask-image: url("/img/edit.svg");
    mask-size: cover;
  }

  &__list {
    margin: 30px 0;
  }

  &__item {
    position: relative;
    margin-bottom: 20px;

    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;

    &:hover {
      & .tasks__btn-remove {
        display: inline-block;
      }
    }
  }

  &__checkbox {
    display: none;

    &:checked + .tasks__item-name {
      &:before {
        background: #4dd599;
        border: 2px solid #4dd599;
      }
      &:after {
        display: inline-block;
      }
    }
    &:disabled + .tasks__item-name {
      &:before {
        background: #f2f2f2;
        border: 2px solid #f2f2f2;
      }
      &:after {
        background-color: #b3b3b3;
      }
    }
  }

  &__item-name {
    position: relative;
    display: inline-block;
    margin-left: 35px;

    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 20px;
      height: 20px;
      top: 0;
      left: -35px;
      box-sizing: border-box;

      border: 2px solid #e8e8e8;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      display: none;
      width: 10px;
      height: 7px;
      top: 6px;
      left: -29px;
      box-sizing: border-box;

      background-color: #ffffff;
      mask-image: url("/img/check.svg");
      mask-size: cover;
    }
  }

  &__btn-remove {
    position: absolute;
    display: none;
    right: 0;
    top: 0;

    width: 20px;
    height: 20px;
    border: none;

    background-color: #ffffff;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      right: 0;
      top: 0;
      transform: translateY(50%);

      background-color: #e3e3e3;
      mask-image: url("/img/remove.svg");
      mask-size: cover;
    }

    &:hover {
      &::before {
        background-color: darken(#e3e3e3, 10%);
      }
    }
  }

  &__btn-add {
    position: relative;
    width: 100%;
    margin-left: 35px;
    border: none;

    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.15px;

    background-color: #ffffff;
    color: #b4b4b4;
    text-align: left;

    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 16px;
      height: 16px;
      top: 0;
      left: -32px;
      box-sizing: border-box;

      background-color: #b4b4b4;
      mask-image: url("/img/add.svg");
      mask-size: cover;
    }

    &:hover {
      color: #000000;

      &::before {
        background-color: #000000;
      }
    }
  }
}
