* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  position: absolute;
  width: 750px;
  height: 530px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

  border-radius: 10px;
  border: 1px solid #f1f1f1;
  box-shadow: 1px 2px 20px #f4f4f4;

  &__sidebar {
    width: 200px;
    height: 100%;
    padding: 50px 20px;

    border-right: 1px solid #f1f1f1;

    background-color: #f4f6f8;
  }

  &__tasks {
    background-color: #ffffff;
  }
}

.sidebar {
  &__list {
    margin-bottom: 20px;
  }

  &__item {
    position: relative;
    padding: 10px 12px 10px 32px;
    height: 37px;
    width: 100%;
    margin-bottom: 3px;

    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &::before {
      content: '';
      position: absolute;
      display: inline-block;
      width: 10px;
      height: 10px;
      top: 50%;
      transform: translate( calc(0px - 10px - 100%), -50%);

      vertical-align: middle;
      border-radius: 50%;
      background-color: #7C7C7C;
    }

    &--green::before {
      background-color: #42B883;
    }
    &--gray::before {
      background-color: #C9D1D3;
    }
    &--blue::before {
      background-color: #64C4ED;
    }
    &--pink::before {
      background-color: #FFBBCC;
    }
    &--lightgreen::before {
      background-color: #B6E6BD;
    }
    &--purple::before {
      background-color: #C355F5;
    }
    &--black::before {
      background-color: #09011A;
    }
    &--red::before {
      background-color: #FF6464;
    }
    

    &--title {
      &::before {
        width: 13px;
        height: 16px;
        transform: translate( calc(0px - 10px - 100%), -53%);

        border-radius: 0;

        background-color: #7C7C7C;
        mask-image: url('/img/list.svg');
        mask-size: cover;
      }
    }

    &--active {
      background: #FFFFFF;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
      border-radius: 4px;
    }

    &:hover {
      background: #FFFFFF;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
      border-radius: 4px;
      padding-right: 22px;

      & >.sidebar__btn {
        width: 10px;
        background-color: #E3E3E3;
      }
    }
  }

  &__btn {
    position: absolute;
    display: inline-block;
    right: 0%;
    top: 50%;
    transform: translate(-10px, -50%);

    width: 0;
    height: 10px;
    border: none;
    

    font-size: 0;
    line-height: 16px;

    background-color: transparent;
    mask-image: url('/img/remove.svg');
    mask-size: cover;
  }
}